body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(0, 19, 32);
    color: rgb(72, 156, 224);
    margin: 10px;
}

h1 {
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: 31.3% 35.3% 33.3%;
    width: 100%;
}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#colourpicker {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 50px;
    padding: 0;
    width: 50px;
    border-radius: 50px;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 20px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #14acc7;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #35b7ce;
    cursor: pointer;
  }

#container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    justify-content: center;
    border-radius: 10px;
    background: white;
    width: 500px;
    height: 500px;
    cursor: pointer;
}

button {
    margin-bottom: 20px;
    height: 30px;
    width: 40%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#normal {
    background: rgb(72, 156, 224);   
}

#rainbow {
    background: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red);
    color: rgb(255, 255, 255);
}

#eraser {
    background: rgb(131, 131, 131);
}

#clear {
    color: rgb(72, 156, 224);
}

@media (max-width: 400px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    #container {
        grid-template-columns: repeat(16, auto);
        grid-template-rows: repeat(16, auto);
    }
}

@media (max-width: 800px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    #container {
        grid-template-columns: repeat(16, auto);
        grid-template-rows: repeat(16, auto);
    }

    .parent-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}